<html>
<head>
    <meta charset='utf-8' />
    <title></title>
  </head>
<body>
    <div class='card'>
      <div class='inner'>
        <h2 class='title'>{{teachername}}</h2>
        <div>
          <ul>
            {{#each schools}}
              <li>{{this.schoolname}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>