<div class="row">
  <div class="col-md-4 offset-md-3 col-md-6 col-sm-offset-2 col-sm-8">
    <h4>Create School</h4>
    <form [formGroup]="createSchool" (ngSubmit)="create()">
      <div class="form-group">
        <label for="schoolname">schoolName</label>
        <input
          type="schoolname"
          class="form-control"
          id="schoolname"
          formControlName="schoolname"
          [(ngModel)]="school.schoolname"
          [ngClass]="{ 'is-invalid': submitted && fval.schoolname.errors }"
        />
        <div
          *ngIf="submitted && fval.schoolname.errors"
          class="invalid-feedback"
        >
          <div *ngIf="fval.schoolname.errors.required">
            Name Field is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="address"
          class="form-control"
          id="address"
          formControlName="address"
          [(ngModel)]="school.address"
          [ngClass]="{ 'is-invalid': submitted && fval.address.errors }"
        />
        <div *ngIf="submitted && fval.address.errors" class="invalid-feedback">
          <div *ngIf="fval.address.errors.required">
            Address Field is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Teacher</label>
        <ng-multiselect-dropdown
          [settings]="dropdownSettings"
          [data]="teachers"
          (onSelect)="selectedTeachers($event)"
          (onSelectAll)="onSelectAllTeachers($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group">
        <label for="student">Student</label>
        <ng-multiselect-dropdown
          [settings]="dropdownSettings"
          [data]="students"
          (onSelect)="selectedStudent($event)"
          (onSelectAll)="onSelectAllStudent($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <button type="button" class="btn btn-outline-success" (click)="getSubmit()">
        Save
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="getBack()">
        Cancel
      </button>
    </form>
  </div>
</div>
