<div class="list row">
  <h2 class="py-4">Customer Lists</h2>
  <div class="col-md-8">
    <div class="input-group mb-3"></div>
  </div>
  <!-- <div class="form-group">
    <p>
      Category :
      <select style="width: 20%" [(ngModel)]="statusObject" (ngModelChange)="onSelected(statusObject)">
        <option *ngFor="let status of status" [ngValue]="status">
          {{ status.name }}
        </option>
      </select>
    </p>
  </div> -->

  <div class="menu-trigger" (click)="isDropdown = !isDropdown" [(ngModel)]="statusObject"
    (ngModelChange)="onSelected(statusObject)">
    Main Menu <i [ngClass]="isDropdown ? 'gg-chevron-up' : 'gg-chevron-down'"></i>
  </div>
  <div class="menu" *ngIf="isDropdown" [@dropDownMenu]>
    <div class="menu-item" *ngFor="let status of status">
      {{ status.name }}
    </div>
  </div>
  <div class=" col-md-6">
    <ul class="list-group"></ul>
    <td>
      <button routerLink="/createcustomer">ADD CUSTOMER</button>
    </td>
  </div>
  <div [@openClose]="isOpen ? true : false" class="open-close-container">
    <br />
    <table class="table table-bordered justify-content-center">
      <thead class="thead-light">
        <tr class="active">
          <th class="text-center" scope="col">Name</th>
          <th class="text-center" scope="col">Ph No.</th>
          <th class="text-center" scope="col">Address</th>
          <th class="text-center" scope="col">status</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <ng-container *ngFor="let customer of customers; let i = index">
        <tr [@enterAnimation] class="success">
          <td class="text-center" scope="row">{{ customer.name }}</td>
          <td class="text-center" scope="row">{{ customer.phonenumber }}</td>
          <td class="text-center" scope="row">{{ customer.address }}</td>
          <td class="text-center" scope="row">{{ customer.status }}</td>
          <button type="button" class="btn btn-warning btn-sm mr-2" routerLink="/customeredit/{{ customer.id }}">
            Edit
          </button>
          <button type="button" class="btn btn-warning btn-sm mr-2" (click)="deletebyid(customer.id)">
            Delete
          </button>
        </tr>
      </ng-container>
    </table>
  </div>
  <button type="button" (click)="toggle()">Toggle</button>
</div>