<html>

  <head>
    <meta charset='utf-8' />
    <title></title>
  </head>

  <body>
    <div class='card'>
      <div class='inner'>
        <h2 class='title'>{{company.name}}</h2>
        <div>
          <ul>
            {{#each company.department}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </body>

</html>