<form>
  <div class="formbox center">
    <div class="form-group input center">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        [(ngModel)]="customer.name"
      />
    </div>
    <br />
    <div class="form-group input center">
      <label for="name">PhoneNumber</label>
      <input
        name="phonenumber"
        type="text"
        class="form-control"
        [(ngModel)]="customer.phonenumber"
      />
    </div>
    <div class="form-group input center">
      <label for="name">Address</label>
      <input
        name="address"
        type="text"
        class="form-control"
        [(ngModel)]="customer.address"
      />
    </div>
    <div class="form-group dropdown dropdownwidth">
      <select class="custom-select" [(ngModel)]="customer.status">
        <option *ngFor="let status of status" [ngValue]="status">
          {{ status.name }}
        </option>
      </select>
      <br />
    </div>
    <button (click)="updateCustomer()">Update</button>
  </div>
</form>
