<h1 class="card-title text-center">Add School</h1>
<div class="form">
  <form [formGroup]="registerForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" formControlName="name" class="form-control" [(ngModel)]="currentSchool.name"
        [ngClass]="{ 'is-invalid': submitted && validation.name.errors }" />
      <div *ngIf="this.submitted && validation.name.errors" class="invalid-feedback">
        <div *ngIf="validation.name.errors.required">
          Name Field is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="address" formControlName="address" class="form-control" [(ngModel)]="currentSchool.address"
        [ngClass]="{ 'is-invalid': submitted && validation.address.errors }" />
      <div *ngIf="this.submitted && validation.address.errors" class="invalid-feedback">
        <div *ngIf="validation.address.errors.required">
          Address Field is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <ng-multiselect-dropdown [placeholder]="'Select Teachers'" formControlName="teachers" id="teachers"
        [settings]="dropdownSettings" [data]="teachers" (onSelect)="onSelectingTeacher($event)"
        (onSelectAll)="onSelectAllTeachers($event)"
        [ngClass]="{ 'is-invalid': submitted && validation.teachers.errors }">
      </ng-multiselect-dropdown>
      <div *ngIf="this.submitted && validation.teachers.errors" class="invalid-feedback">
        <div *ngIf="validation.teachers.errors.required">
          Selecting atleast 1 Teacher is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <ng-multiselect-dropdown [placeholder]="'Select Students'" [settings]="dropdownSettings" [data]="students"
        (onSelect)="onSelectingStudent($event)" (onSelectAll)="onSelectAllStudents($event)"
        [ngClass]="{ 'is-invalid': submitted && validation.students.errors }">
      </ng-multiselect-dropdown>
      <div *ngIf="this.submitted && validation.students.errors" class="invalid-feedback">
        <div *ngIf="validation.students.errors.required">
          Selecting atleast 1 Student is required
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-success create-account" (click)="signup()">
      Save
    </button>
    <button type=" button" class="btn btn-warning create-account" routerLink="/school-list">Cancel</button>
  </form>
</div>
