<h2 *ngIf="addForm" class="text-center">Add Students</h2>
<h2 *ngIf="!addForm" class="text-center">Update Students</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <form
            [formGroup]="createtStudentForm"
            (ngSubmit)="createStudent(); uploadImage()"
          >
            <div class="form-group">
              <label>Name</label>
              <input
                type="text"
                formControlName="name"
                name="name"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                [(ngModel)]="createstudent.name"
              />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label>Address</label>
              <input
                type="text"
                formControlName="address"
                name="address"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                [(ngModel)]="createstudent.address"
              />
              <div
                *ngIf="submitted && f.address.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.address.errors.required">Address is required</div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label>Phone Number</label>
              <input
                type="text"
                name="phonenumber"
                maxlength="10"
                minlength="10"
                formControlName="phonenumber"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }"
                [(ngModel)]="createstudent.phonenumber"
              />
              <div
                *ngIf="submitted && f.phonenumber.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.phonenumber.errors.required">
                  Phone is required
                </div>
                <div *ngIf="f.phonenumber.errors.pattern">
                  Enter only number.
                </div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                formControlName="email"
                name="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                [(ngModel)]="createstudent.email"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label>Genders</label>
              <div *ngFor="let gender of genders; let i = index">
                <input
                  name="gender"
                  formControlName="gender"
                  type="radio"
                  [value]="gender"
                  [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                  [(ngModel)]="createstudent.gender"
                />
                {{ gender }}
                <div
                  *ngIf="submitted && f.gender.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.gender.errors.required">Gender is required</div>
                </div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label>Date</label>
              <input
                type="date"
                name="date"
                class="form-control"
                formControlName="dateofbirth"
                [ngClass]="{ 'is-invalid': submitted && f.dateofbirth.errors }"
                [(ngModel)]="createstudent.dateofbirth"
              />
              <div
                *ngIf="submitted && f.dateofbirth.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.dateofbirth.errors.required">
                  Date Of Birth is required
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-8">
                <label class="btn btn-default p-0">
                  <input
                    type="file"
                    class="form-control"
                    formControlName="file"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg"
                    #fileInput
                    (change)="chooseFile($event)"
                  />
                </label>
              </div>
            </div>
            <br />
            <label>Schools</label>
            <select
              class="select-option"
              required
              name="school"
              class="form-control"
              formControlName="school"
              [(ngModel)]="
                createstudent.school && createstudent.school.schoolid
              "
              (ngModelChange)="onSelectedSchool($event)"
              [ngClass]="{ 'is-invalid': submitted && f.school.errors }"
            >
              <option
                class="option"
                *ngFor="let option of schools"
                [value]="option.schoolid"
              >
                {{ option.name }}
              </option>
            </select>
            <div *ngIf="submitted && f.school.errors" class="invalid-feedback">
              <div *ngIf="f.school.errors.required">School is required</div>
            </div>
            <br />
            <br />
            <div class="text-center">
              <button *ngIf="addForm" class="btn btn-primary">Create</button>
              <button
                *ngIf="!addForm"
                class="btn btn-primary"
                (click)="updateStudent()"
              >
                Update
              </button>
              <button
                class="btn btn-secondary btn-space"
                routerLink="/listteachers"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
