<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3"></div>
  </div>
  <div class="col-md-6">
    <h4>Customer GROUP LIST</h4>
    <ul class="list-group"></ul>
    <td>
      <button routerLink="/addcustomergroup">ADD CUSTOMER GROUP</button>
    </td>
    <br />
  </div>

  <div class="container">
    <table class="table table-bordered justify-content-center">
      <thead class="thead-light">
        <tr class="active">
          <th class="text-center" scope="col">NAME</th>
          <th class="text-center" scope="col">DISCRIPTION</th>
          <th class="text-center" scope="col">CREATE DATE</th>
          <th class="text-center" scope="col">UPDATE DATE</th>
          <th class="text-center" scope="col">EDIT</th>
        </tr>
      </thead>
      <tbody *ngFor="let customerGroup of customerGroups; let i = index">
        <tr class="success">
          <th class="text-center" scope="row">{{ customerGroup.name }}</th>
          <th class="text-center" scope="row">
            {{ customerGroup.discription }}
          </th>
          <th class="text-center" scope="row">
            {{ customerGroup.createdDate }}
          </th>
          <th class="text-center" scope="row">
            {{ customerGroup.updatedDate }}
          </th>
          <th class="text-center" scope="row">
            <button type="button" class="btn btn-info btn-sm mr-2">Edit</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
