<div class="container">
  <h5 class="card-title text-center pb-0 fs-4">Edit Company</h5>
  <br />
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <form>
            <div class="formbox center">
              <div class="form-group input center">
                <label for="companyname">Company name</label>
                <input
                  type="text"
                  name="companyname"
                  class="form-control"
                  [(ngModel)]="company.companyname"
                />
              </div>
              <br />
              <div class="form-group input center">
                <label for="name">Address</label>
                <input
                  name="address"
                  type="text"
                  class="form-control"
                  [(ngModel)]="company.address"
                />
              </div>
              <div class="form-group input center">
                <div class="form-group">
                  <label for="options">Present Departments:</label>
                  <div *ngFor="let department of company.department">
                    <label>
                      <input
                        type="checkbox"
                        name="options"
                        [(ngModel)]="company.department"
                        (click)="
                          removeSelectedDepartmentFromCompany(department)
                        "
                      />
                      {{ department.departmentname }}
                    </label>
                  </div>
                </div>
              </div>
              <br />
              <div class="form-group input center">
                <div class="form-group">
                  <label for="options">Click to add departments:</label>
                  <div *ngFor="let department of departmentsList">
                    <label>
                      <input
                        type="checkbox"
                        name="options"
                        (click)="removeActiveDepartment(department)"
                      />
                      {{ department.departmentname }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="text-center">
            <button
              class="btn btn-outline-success btn-sm btn-space"
              routerLink="/companylist"
              (click)="updateCompany()"
            >
              Update
            </button>
            <button
              class="btn btn-outline-danger btn-sm btn-space"
              routerLink="/companylist"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
