<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">bezKoder</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="userlogin" class="nav-link">userlogin</a>
      </li>
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a routerLink="tutorials/:id"></a>
      </li>
      <li class="nav-item">
        <a routerLink="form" class="nav-link">Form</a>
      </li>
      <li class="nav-item">
        <a routerLink="bootstrap" class="nav-link">bootstrap</a>
      </li>
      <li class="nav-item">
        <a routerLink="bootstrap2" class="nav-link">bootstrap2</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="tutorialdetailview" class="nav-link">tutorialdetailview</a>
      </li> -->
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>