<div>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="navbar-nav mr-auto"></div>
    <a href="#" class="navbar-brand">Welcome to EBS</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="createcompany" class="nav-link">Create company</a>
      </li>
      <li class="nav-item">
        <a routerLink="comapanylisting" class="nav-link">Company list</a>
      </li>
      <li class="nav-item">
        <a routerLink="createdepartment" class="nav-link">Create Department</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
