<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<h4>School</h4>
<td>
  <button class="btn btn-outline-success" routerLink="/addschool">
    ADD NEW SCHOOL
  </button>
</td>
<table class="table table-striped table-bordered justify-content-center">
  <thead class="thead-light">
    <tr class="active">
      <th class="text-center" scope="col">Id</th>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col">Address</th>
      <th class="text-center" scope="col">CreatedAt</th>
      <th class="text-center" scope="col">Option</th>
    </tr>
  </thead>
  <tbody
    *ngFor="
      let school of Schools
        | paginate
          : {
              itemsPerPage: itemsPerPage,
              currentPage: page,
              totalItems: totalItems
            };
      let i = index
    "
  >
    <tr class="success">
      <th class="text-center" scope="row">{{ school.id }}</th>
      <th class="text-center" scope="row">{{ school.schoolname }}</th>
      <th class="text-center" scope="row">{{ school.address }}</th>
      <th class="text-center" scope="row">
        {{ school.createdAt | date: "short" }}
      </th>
      <button
        class="btn btn-outline-success"
        scope="row"
        routerLink="/addschool/{{ school.id }}"
      >
        Edit
      </button>
      <button class="btn btn-outline-danger" scope="row">Delete</button>
    </tr>
  </tbody>
  <pagination-controls
    class="pagi"
    (pageChange)="handlepageChange((page = $event))"
    previousLabel="Prev"
    nextLabel="Next"
  ></pagination-controls>
</table>
