<div class="list row">
  <h2 class="py-4">Students Lists</h2>
  <div class="col-md-8">
    <div class="input-group mb-3"></div>
  </div>

  <div class="col-md-6">
    <ul class="list-group"></ul>
    <td>
      <button routerLink="/createstudents">Add Students</button>
    </td>
  </div>
  <div class="container">
    <br />
    <table
      class="table table-bordered table-hover table-bordered border-secondary"
    >
      <thead class="thead-light">
        <tr class="active">
          <th class="text-center" scope="col">Name</th>
          <th class="text-center" scope="col">Address</th>
          <th class="text-center" scope="col">Created AT</th>
          <th class="text-center" scope="col">Buttons</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let student of students
            | paginate
              : {
                  itemsPerPage: count,
                  currentPage: page,
                  totalItems: totalItems
                };
          let i = index
        "
      >
        <tr>
          <th class="text-center" scope="row">{{ student.name }}</th>
          <th class="text-center" scope="row">{{ student.address }}</th>
          <th class="text-center" scope="row">
            {{ student.createdAt | date: 'short' }}
          </th>
          <th class="text-center" scope="row">
            <button
              type="button"
              class="btn btn-warning btn-sm mr-2"
              routerLink="/createstudents/{{ student.studentid }}"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm mr-2 marignleft"
              (click)="deleteStudentById(student.id)"
            >
              Delete
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right">
    <pagination-controls
      (pageChange)="pagination((page = $event))"
    ></pagination-controls>
  </div>

  <div class="marginleftpage">
    Items per Page:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>
