<div class="list row">
  <h2 class="py-4">Companies List</h2>
  <div class="col-md-8">
    <div class="input-group mb-3"></div>
  </div>
  <div class="col-md-6">
    <ul class="list-group"></ul>
    <td>
      <button routerLink="/createcompany">ADD NEW COMPANY</button>
    </td>
  </div>
  <div class="container">
    <br />
    <table datatable class="row-border hover">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Address</th>
          <th>Created Date</th>
          <th>Departments</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="companiesList?.length != 0">
        <tr
          *ngFor="
            let company of companiesList
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                  }
          "
        >
          <td>{{ company.companyname }}</td>
          <td>{{ company.address }}</td>
          <td>{{ company.createdAt | date: "short" }}</td>
          <td>{{ company.department?.length }}</td>
          <td>
            <button
              type="button"
              class="btn btn-outline-secondary btn-rounded btn-sm fw-bold"
              mdbRipple
              rippleColor="dark"
              routerLink="/editcompany/{{ company.id }}"
            >
              Edit
            </button>
            <button
              type="button"
              style="margin: px"
              class="btn-outline-danger btn btn-sm mr-2 btn-space"
              (click)="deleteCompanyById(company.id!)"
            >
              delete
            </button>
          </td>
          <br />
        </tr>
      </tbody>
      <tbody *ngIf="companiesList?.length == 0">
        <tr>
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
      </tbody>
    </table>
    <br />
    <pagination-controls
      class="pagi"
      (pageChange)="pagination((page = $event))"
    ></pagination-controls>
  </div>
</div>
<div class="marginleftpage">
  Items per Page:
  <select (change)="handlePageSizeChange($event)">
    <option *ngFor="let size of pagesizes" [ngValue]="size">
      {{ size }}
    </option>
  </select>
</div>
