<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label>Select tenant/device time zone: </label>
        <select name="timeZone" [ngModel]="selectedTz" (ngModelChange)="timeZoneChanged($event)" >
          <option *ngFor="let tz of tzNames" [value]="tz">
            {{ tz }}
          </option>
        </select>
      </div>
          <div class="form-group">
            <select
              class="form-control"
              [(ngModel)]="selectedCategory"
              (ngModelChange)="onSelected(selectedCategory)" 
            name="title"> <option>SELECT CATEGORY</option>
          <option *ngFor="let category of categories">
            {{ category.title }} 
            </option>
          </select>
    </div>
      <button (click)="saveTutorial()" class="btn btn-success" routerLink="" >Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Tutorial was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
    </div>
  </div>
</div>

