<h1 class="card-title text-center">Add Company</h1>
<div class="global-container">
  <div class="card login-form">
    <form [formGroup]="registerForm">
      <div class="form-group col-md-4">
        <label for="name">Name</label>
        <input type="name" formControlName="name" class="form-control" [(ngModel)]="currentCompany.name"
          [ngClass]="{ 'is-invalid': submitted && validation.name.errors }" />
        <div *ngIf="this.submitted && validation.name.errors" class="invalid-feedback">
          <div *ngIf="validation.name.errors.required">
            Name Field is required
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="address">Address</label>
        <input type="address" formControlName="address" class="form-control" [(ngModel)]="currentCompany.address"
          [ngClass]="{ 'is-invalid': submitted && validation.address.errors }" />
        <div *ngIf="this.submitted && validation.address.errors" class="invalid-feedback">
          <div *ngIf="validation.address.errors.required">
            Address Field is required
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" [(ngModel)]="currentCompany.email"
          [ngClass]="{ 'is-invalid': submitted && validation.email.errors }" />
        <div *ngIf="this.submitted && validation.email.errors" class="invalid-feedback">
          <div *ngIf="validation.email.errors.required">
            Email Field is required
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="phoneNo">Phone No</label>
        <input type="number" formControlName="phoneNo" class="form-control" [(ngModel)]="currentCompany.phoneNo"
          [ngClass]="{ 'is-invalid': submitted && validation.phoneNo.errors }" />
        <div *ngIf="this.submitted && validation.phoneNo.errors" class="invalid-feedback">
          <div *ngIf="validation.phoneNo.errors.required">
            Phone No Field is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="options">Departments:</label>
        <div *ngFor="let department of departments">
          <label>
            <input type="checkbox" (click)="onSelectingDepartment(department)" />
            {{ department.name }}
          </label>
        </div>
      </div>
      <button type="button" class="btn btn-success" (click)="signup()">
        Save
      </button>
      <button type=" button" class="btn btn-warning" routerLink="/company-list">Cancel</button>
    </form>
  </div>
</div>
