<h2 *ngIf="addForm" class="text-center">Add Schools</h2>
<h2 *ngIf="!addForm" class="text-center">Update Schools</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <form
            [formGroup]="createschoolForm"
            (ngSubmit)="createSchoolValidate()"
          >
            <div class="form-group">
              <label>Name</label>
              <input
                type="text"
                formControlName="name"
                name="name"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                [(ngModel)]="createschool.name"
              />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label>Address</label>
              <input
                type="text"
                formControlName="address"
                name="address"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                [(ngModel)]="createschool.address"
              />
              <div
                *ngIf="submitted && f.address.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.address.errors.required">Address is required</div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label>Select Teachers</label>
              <ng-multiselect-dropdown
                formControlName="teacher"
                [settings]="teacherDropdownSettings"
                [data]="teachers"
                (onSelect)="onSelectTeachers($event)"
                [(ngModel)]="createschool.teacher"
              >
              </ng-multiselect-dropdown>
              <div
                *ngIf="submitted && f.teacher.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.teacher.errors.required">Teacher is required</div>
              </div>
            </div>

            <div class="form-group">
              <label>Select students</label>
              <ng-multiselect-dropdown
                formControlName="students"
                [settings]="studentDropdownSettings"
                [data]="students"
                (onSelect)="onSelectStudents($event)"
                [(ngModel)]="createschool.students"
              >
              </ng-multiselect-dropdown>
              <div
                *ngIf="submitted && f.students.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.students.errors.required">
                  students is required
                </div>
              </div>
            </div>
            <br />
            <div class="text-center">
              <button *ngIf="addForm" class="btn btn-primary">Create</button>
              <button
                *ngIf="!addForm"
                class="btn btn-primary"
                (click)="updateSchool()"
              >
                Update
              </button>
              <button
                class="btn btn-secondary btn-space"
                routerLink="/listteachers"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
