<!--Main Navigation-->
<header>
  <div class="sidenav position-fixed">
    <a class="logo-wrapper waves-effect">
      <img
        src="../../../../assets/img/angular-mdb.png"
        class="img-fluid"
        alt=""
      />
    </a>

    <div class="list-group list-group-flush"></div>
  </div>
</header>
<div class="chart_container">
  <canvas id="myChart" width="400" height="400"></canvas>
</div>
<!-- <div class="app sidenav" style="display: flex; overflow: scroll initial">
  <CDBSidebar textColor="#ffffff" backgroundColor="#333333">
    <CDBSidebarHeader [prefix]="icon">
      <ng-template #icon>
        <i class="fa fa-bars sidenav"></i>
      </ng-template>

      Contrast
    </CDBSidebarHeader>

    <CDBSidebarContent>
      <CDBSidebarMenu class="sidebar-content">
        <CDBSidebarMenuItem link="/" icon="columns">
          Dashboard
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem link="/companylisting" icon="table">
          Tables
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem link="/profile" icon="user">
          Profile
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem href="/404" icon="exclamation-circle">
          <span style="margin-left: 5px">404 Page</span>
        </CDBSidebarMenuItem>
      </CDBSidebarMenu>
    </CDBSidebarContent>
    <div class="mt-auto">
      <CDBSidebarFooter style="text-align: center; margin-top: auto">
        <div class="sidebar-btn-wrapper" style="padding: 20px 5px">
          Sidebar Footer
        </div>
      </CDBSidebarFooter>
    </div>
  </CDBSidebar>
</div>
<div class="chart_container">
  <canvas id="myChart" width="400" height="400"></canvas>
</div> -->
