<div class="list row">
  <h4>hi</h4>
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Tutorials List</h4>
    <button (click)="gotoList()" class="btn btn-success">Add</button>
    <!-- <button class="btn btn-success pull-right">
      <a routerLink="/tutorialform"> Add </a>
    </button> -->
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)"
      >
        {{ tutorial.title }}

        <a
          class="btn btn-success float-right"
          routerLink="/tutorialdetailview/{{ tutorial.id }}"
        >
          View Details
        </a>
      </li>
      <br />
    </ul>
    <div class="col-md-6">
      <div *ngIf="currentTutorial">
        <h4>Tutorial</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentTutorial.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentTutorial.description }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentTutorial.categories }}
        </div>
        <div>
          <!-- <label><strong>Status:</strong></label>
          {{ currentTutorial.published ? "Published" : "Pending" }}
        </div> -->
          <!-- <a class="badge badge-warning" (click)="gotoEdit(currentTutorial.id)">
          Edit
        </a> -->
          <a
            class="badge badge-warning"
            routerLink="/tutorialform/{{ currentTutorial.id }}"
          >
            Edit
          </a>
        </div>

        <div *ngIf="!currentTutorial">
          <br />
          <p>Please click on a Tutorial...</p>
        </div>
      </div>
    </div>
  </div>
</div>
