<div class="col-md-6">
  <h4>demo-List</h4>
  <ul class="list-group" *ngFor="let demo of demos">
    <li (click)="setActivedemos(demo)" class="list-group-item">
      {{ demo.title }}
    </li>
  </ul>
</div>
<div class="col-md-6">
  <div *ngIf="currentdemos.id">
    <h4>Student</h4>
    <div>
      <label><strong>Title:</strong></label>
      {{ currentdemos.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentdemos.description }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentdemos.published ? 'Published' : 'Pending' }}
    </div>
    <a
      class="badge badge-warning"
      routerLink="/demo-list/{{ currentdemos.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentdemos">
    <br />
    <p>Please click on a Student...</p>
  </div>
</div>
