<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">School Management</a>
     <div class="navbar-nav mr-auto">
      <li class="nav-item">
      <a routerLink="login" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="addschool" class="nav-link">Create School</a>
    </li>
    <li class="nav-item">
      <a routerLink="school-list" class="nav-link">School</a>
    </li>
    <li class="nav-item">
      <a routerLink="teacher-list" class="nav-link">Teacher</a>
    </li>
   </div> 
  </nav>
 <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>