.button1 {
  margin-right: 10px;
}
.testdropdown {
  margin-bottom: 10px;
}
.button2 {
    
  background-color: rgba(236, 230, 171, 0.415);
}
.head {
  background-color: rgba(163, 211, 237, 0.228);
}
.heading{
    color:rgba(196, 163, 239, 0.987);
}
.heading2{
    color:rgba(15, 36, 31, 0.647);
}
