.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    margin-top: 16px;
}

.btn-outline-success {
    margin-left: 15px;
    color: #28a745;
    border-color: #28a745;
}