<div class="panel">
  <div class="panel-heading">
    <div class="panel-body table-responsive">
      <h4 class="text-center">Companies List</h4>
      <button class="btn btn-info" routerLink="/company">
        Add Company
      </button>
      <br><br>
      <div>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center"> Name</th>
              <th class="text-center">Address</th>
              <th class="text-center">Created Date</th>
              <th class="text-center">Departments</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let company of companies; let i = index">
            <tr>
              <td class="text-center">{{ company.name }}</td>
              <td class="text-center">{{ company.address }}</td>
              <td class="text-center">{{ company.createdDate }}</td>
              <td class="text-center">{{ company.departments?.length }}</td>
              <td class="text-center">
                <button type="button" class="btn btn-info btn-space"
                  routerLink="/edit-company/{{ company.id }}">Edit</button>
                <button type="button" class="btn btn-success btn-space"
                  (click)="deleteCompany(company.id!)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
