<div class="col-md-6">
  <h4 class="text-center">Companies List</h4>
  <button class="btn-info" routerLink="/company">
    Add Company
  </button>
  <br><br>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center"> Name</th>
        <th class="text-center">Address</th>
        <th class="text-center">Created Date</th>
        <th class="text-center">Departments</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let company of companies; let i = index">
      <tr class="success">
        <td class="text-center">{{ company.name }}</td>
        <td class="text-center">{{ company.address }}</td>
        <td class="text-center">{{ company.createdDate }}</td>
        <td class="text-center">{{ company.departments?.length }}</td>
        <td>
          <button type="button" class="btn btn-info btn-sm mr-2"
            routerLink="/edit-company/{{ company.id }}">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
