.list {
  text-align: center;
  justify-content: center;
  padding-right: 800px;
}

.list1 {
  text-align: center;
  justify-content: center;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
.badge {
  width: 80%;
}

h4 {
  padding-left: 400px;
}

.search{
  max-width: 200px;
}
