<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <img src="pic_trulli.jpg" alt="Italian Trulli" class="img-fluid" alt="Responsive image">
</head>
<span></span>
<div class="col-md-6">
    <div *ngIf="currentTutorial.id">
      <h4>Tutorial</h4>
      
        <label><strong>Title:</strong></label>
        {{ currentTutorial.title }}
     
        <label><strong>Description:</strong></label>
        {{ currentTutorial.description }}
     
        <label><strong>CATEGORY:</strong></label>
        {{ currentTutorial.categories | json }}
      
        <label><strong>timeZone:</strong></label>
        {{ currentTutorial.timezone }}
      
        <label><strong>Created At:</strong></label>
        {{ currentTutorial.createdAt }}

        <label><strong>Conversion:</strong></label>
        {{currentTutorial.createdAt | date:'full'}} 

       <app-comment-post [tutorialId]="tutorialId">  
        </app-comment-post>
      
