<div class="container">
  <h5 class="card-title text-center pb-0 fs-4">Create Student</h5>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <form
            [formGroup]="createStudentForm"
            (ngSubmit)="saveStudentDetails()"
          >
            <div class="form-group">
              <label>student name</label>
              <input
                type="text"
                formControlName="studentname"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f.studentname.errors
                }"
                [(ngModel)]="student.studentname"
              />
              <div
                *ngIf="submitted && f.studentname.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.studentname.errors.required">
                  student name is required
                </div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label>Address</label>
              <input
                type="text"
                formControlName="address"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                [(ngModel)]="student.address"
              />
              <div
                *ngIf="submitted && f.address.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.address.errors.required">Address is required</div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label>Phone Number</label>
              <input
                type="text"
                formControlName="phonenumber"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }"
                [(ngModel)]="student.phonenumber"
              />
              <div
                *ngIf="submitted && f.phonenumber.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.phonenumber.errors.required">
                  Phone is required
                </div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                [(ngModel)]="student.email"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
              </div>
            </div>
            <br />
            <br />
            <div class="form-group">
              <label>Genders</label>
              <div *ngFor="let gender of gendersList; let i = index">
                <input
                  name="gender"
                  type="radio"
                  [value]="gender"
                  [(ngModel)]="student.gender"
                  (change)="getSelectedStudentGender(gender)"
                />
                {{ gender.name }}
              </div>
            </div>
            <div class="form-group">
              <label>Date of birth</label>
              <ngx-datepicker
                [(ngModel)]="date"
                [options]="options"
              ></ngx-datepicker>
            </div>
            <br />
            <div class="form-group">
              <p class="text-center">
                Schools
                <select
                  class="form-control"
                  formControlName="school"
                  name="school"
                  [(ngModel)]="currentSchool"
                  (ngModelChange)="selectedSchool(currentSchool)"
                >
                  <option disabled [value]="" selected>Choose School</option>
                  <option *ngFor="let school of schoolsList" [ngValue]="school">
                    {{ school.schoolname }}
                  </option>
                </select>
              </p>
            </div>
            <div class="text-center">
              <button class="btn btn-primary">Create</button>
              <button
                class="btn btn-secondary btn-space"
                type="reset"
                routerLink="/studentslist"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
