<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Company-Department</a>
     <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="chart" class="nav-link">Chart</a>
      </li>
      <a routerLink="login" class="nav-link">login</a>
    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
      </div> 
  </nav>
 <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>