
<br><h3>
  <small class="text-muted">TUTORIAL ID: {{tutorialId}} </small>
</h3> 
<br>


<label for="CONTENT" class="form-label"><h2>CONTENT</h2></label>
<input type="text" id="CONTENT" class="form-field" placeholder="type here" [(ngModel)]="comment.content"/><br>
<button  class="btn btn-outline-success  btn-sm" (click)="saveComment()">Submit</button>
<div *ngIf="submitted">
    <h4>content was submitted successfully!</h4>
</div><br>
<br>
<div class="container">
<table class="table table-bordered justify-content-center">
    <thead class="thead-light">
      <tr class="active">
        <th class="text-center" scope="col">ID</th>
        <th class="text-center" scope="col">CONTENT</th>
        <th class="text-center" scope="col">CREATED-DATE</th>
        <th class="text-center" scope="col">Converted-DATE</th>
      </tr>
    </thead>
    <tbody *ngFor="let comment of commentDetails; let i = index">
      <tr class="success">
        <th class="text-center" scope="row">{{comment.id}}</th>
        <th class="text-center" scope="row">{{comment.content}}</th>
        <th class="text-center" scope="row">{{comment.createdat | date: "full"}}</th>
        <th class="text-center" scope="row">{{ comment.createdat | date: "full":timeZone }}</th>
      </tr>     
    </tbody>
  </table>
</div>