<div class="list row">
  <h2 class="py-4">Company Lists</h2>
  <div class="col-md-8">
    <div class="input-group mb-3"></div>
  </div>

  <div class="col-md-6">
    <ul class="list-group"></ul>
    <td>
      <button>ADD COMPANY</button>
    </td>
  </div>
  <div class="container">
    <br />
    <table class="table table-bordered justify-content-center">
      <thead class="thead-light">
        <tr class="active">
          <th class="text-center" scope="col">Name</th>
          <th class="text-center" scope="col">Address</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let company of companies; let i = index">
        <tr class="success">
          <th class="text-center" scope="row">{{ company.name }}</th>
          <th class="text-center" scope="row">{{ company.address }}</th>
          <button type="button" class="btn btn-warning btn-sm mr-2">
            Edit
          </button>
          <button type="button" class="btn btn-warning btn-sm mr-2">
            Delete
          </button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
