<div class="container">
  <h5 class="card-title text-center pb-0 fs-4">create company</h5>
  <br />
  <div class="row">
    <div class="col-md-6 offset-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <form [formGroup]="createCompanyForm" (ngSubmit)="saveCompany()">
            <div class="form-group">
              <label>company name</label>
              <input
                type="text"
                formControlName="companyname"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && formValidation.companyname.errors
                }"
                [(ngModel)]="company.companyname"
              />
              <div
                *ngIf="submitted && formValidation.companyname.errors"
                class="invalid-feedback"
              >
                <div *ngIf="formValidation.companyname.errors.required">
                  company name is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>address</label>
              <input
                type="text"
                formControlName="address"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && formValidation.address.errors
                }"
                [(ngModel)]="company.address"
              />
              <div
                *ngIf="submitted && formValidation.address.errors"
                class="invalid-feedback"
              >
                <div *ngIf="formValidation.address.errors.required">
                  address is required
                </div>
              </div>
            </div>
            <br />
            <div class="text-center">
              <button class="btn btn-outline-primary btn-sm">Submit</button>
              <button
                class="btn btn-outline-danger btn-sm btn-space"
                routerLink="/companylist"
              >
                Cancel
              </button>
            </div>
            <br />
            <div class="column">
              <h2>Departments List</h2>
              <ul>
                <li *ngFor="let department of departmentsList">
                  <input
                    type="checkbox"
                    (click)="selectedDepartment(department)"
                  />{{ department.departmentname }}
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
