<html>
<head>
    <meta charset='utf-8' />
    <title>hello</title>
  </head>
<body>
    <div class='card'>
      <div class='inner'>
        <h2 class='title'>{{company.companyname}}</h2>
        <div>
          <ul>
            {{#each company.department}}
              <li>{{this.departmentname}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </body>



</html>