/* general html tags */
* {
	margin: 0px;
	padding: 0px;
}

strong {
	font-weight: bold;
}

body {
	font: 12pt "Segoe UI", Verdana, Helvetica;
	color: #000000;
}

hr {
	border: 0;
	height: 0;
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	margin-top: 2px;
}

h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: #000033;
	text-align: center;
	font-weight: normal;
}

h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: #000033;
	text-align: center;
	font-weight: bold;
}

.date {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #B5D7E6;
	clear: both;
}

.details {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

/* footer */
.footer {
	border-top: 1px solid #B5D7E6;
	text-align: center;
	color: #000033;
	padding: 10px;
	page-break-inside: avoid;
}

.footer h2 {
	color: #133D53;
	font-size: 12pt;
}

.footer h3 {
	font-size: 12pt;
}

/* icon legend */
.legend {
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #B5D7E6;
}

/* notes */
.notes {
	width: 80%;
	text-align: left;
	margin: 10px auto;
}

.notes h2 {
	text-align: left;
	color: #133D53;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14pt;
}

.notes h3 {
	font-size: 12pt;
}

.notes p {
	font-size: 12pt;
	margin: 0px 10px 20px 30px;
}

/* report grid */
table.reportGrid {
	background-color: #FFF;
	border: 1px solid #000033;
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
	font-size: 10pt;
	page-break-inside: auto;
}

table.reportGrid caption {
	color: white;
	background-color: #21688E;
	font-weight: bold;
	font: 13pt "Trebuchet MS", Verdana, Helvetica;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border: 1px solid #000033;
	border-bottom: none;
	page-break-inside: avoid;
	padding: 5px;
}

table.reportGrid .name {
	font-weight: bold;
	width: 20%;
	text-align: left;
}

table.reportGrid .couponType {
	width: 10%;
	text-align: left;
}

table.reportGrid .timeStamp {
	width: 10%;
	width: auto;
	text-align: left;
}

table.reportGrid thead {
	display: table-header-group;
	page-break-inside: avoid;
}

table.reportGrid tfoot {
	display: table-header-group;
	page-break-inside: avoid;
}

table.reportGrid th {
	background-color: #B5D7E6;
	color: #000000;
	padding: 5px;
	font-weight: bold;
	border: 1px solid #000033;
}

table.reportGrid tr {
	page-break-inside: avoid;
	page-break-after: auto;
}

table.reportGrid td {
	font-size: 8pt;
	page-break-inside: avoid;
	page-break-after: auto;
	padding: 1px 3px 1px 3px;
	border: 1px solid #000033;
	width: 5%;
	width: auto;
	height: 3em; 
	text-align: center;
}

.bold {
	color: #333 !important;
	font-weight: bold !important; 
} 

/*
table.reportGrid td.key {
	padding: 2px 5px 2px 5px;
	border: 1px solid black;
	font-weight: bold;
}
*/

/* misc elements */
.range {
	font-size: 5pt;
}

/* this one should go away */
.icon {
	float: left;
	margin-top: 5px;
	margin-right: 4px;
	margin-left: 4px;
}

.iconNORMAL {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-left: 0;
	background-image: url(../img/range/icon-NORMAL.png);
}

.iconLOW {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-left: 0;
	background-image: url(../img/range/icon-LOW.png);
}

.iconLOWER {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-left: 0;
	background-image: url(../img/range/icon-LOWER.png);
}

.iconLOWEST {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-left: 0;
	background-image: url(../img/range/icon-LOWEST.png);
}

.iconHIGH {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-left: 0;
	background-image: url(../img/range/icon-HIGH.png);
}

.iconHIGHER {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-left: 0;
	background-image: url(../img/range/icon-HIGHER.png);
}

.iconHIGHEST {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-left: 0;
	background-image: url(../img/range/icon-HIGHEST.png);
}

.cellValue {
	display: inline-block;
}

.signature {
	text-align: left;
	margin-top: 20px;
	padding: 5px;
	page-break-inside: avoid;
}

.typedSignature {
	color: #145394;
	font: normal 1.875em/50px "Journal", Georgia, Times, serif;
}




[class^="fa_"], [class*=" fa_"] {
	font-family: 'key_icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	font-size: 32px;
}
.fa_low_minus .path1:before {
	content: "\e900";
 	color: #FFFF00 !important;"
}
.fa_low_minus .path2:before {
	content: "\e901";
	margin-left: -0.7724609375em;
	color: rgb(255, 255, 255);
}
.fa_low_minus .path3:before {
	content: "\e902";
	margin-left: -0.7724609375em;
	color: rgb(255, 255, 255);
}
.fa_low_minus .path4:before {
	content: "\e903";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_low_minus .path5:before {
	content: "\e904";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}

.fa_high_plus .path1:before {
	content: "\e905";
 	color: #FFFF00 !important;"
}
.fa_high_plus .path2:before {
	content: "\e906";
	margin-left: -0.7724609375em;
	color: rgb(255, 255, 255);
}
.fa_high_plus .path3:before {
	content: "\e907";
	margin-left: -0.7724609375em;
	color: rgb(255, 255, 255);
}
.fa_high_plus .path4:before {
	content: "\e908";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_high_plus .path5:before {
	content: "\e909";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_high_plus .path6:before {
	content: "\e90a";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_lowest_minus .path1:before {
	content: "\e90b";
 	color: red !important;";
}
.fa_lowest_minus .path2:before {
	content: "\e90c";
	margin-left: -0.7724609375em;
	color: rgb(255, 255, 255);
}
.fa_lowest_minus .path3:before {
	content: "\e90d";
	margin-left: -0.7724609375em;
	color: rgb(255, 255, 255);
}
.fa_lowest_minus .path4:before {
	content: "\e90e";
	margin-left: -0.7724609375em;
	color: rgb(255, 255, 255);
}
.fa_lowest_minus .path5:before {
	content: "\e90f";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_lowest_minus .path6:before {
	content: "\e910";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_highest_plus .path1:before {
	content: "\e911";
 	color: red !important;"
}
.fa_highest_plus .path2:before {
	content: "\e912";
	margin-left: -0.7724609375em;
	color: rgb(255, 255, 255);
}
.fa_highest_plus .path3:before {
	content: "\e913";
	margin-left: -0.7724609375em;
	color: rgb(255, 255, 255);
}
.fa_highest_plus .path4:before {
	content: "\e914";
	margin-left: -0.7724609375em;
	color: rgb(255, 255, 255);
}
.fa_highest_plus .path5:before {
	content: "\e915";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_highest_plus .path6:before {
	content: "\e916";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_highest_plus .path7:before {
	content: "\e917";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_lower_minus .path1:before {
	content: "\e918";
 	color: orange !important;"
}
.fa_lower_minus .path2:before {
	content: "\e919";
	margin-left: -0.7724609375em;
	color: rgb(255, 255, 255);
}
.fa_lower_minus .path3:before {
	content: "\e91a";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_lower_minus .path4:before {
	content: "\e91b";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_higher_plus .path1:before {
	content: "\e91c";
 	color: orange !important;"
}
.fa_higher_plus .path2:before {
	content: "\e91d";
	margin-left: -0.7724609375em;
	color: rgb(255, 255, 255);
}
.fa_higher_plus .path3:before {
	content: "\e91e";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_higher_plus .path4:before {
	content: "\e91f";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}
.fa_higher_plus .path5:before {
	content: "\e920";
	margin-left: -0.7724609375em;
	color: rgb(1, 1, 1);
}







/* #############  Added Overrides ############# DH20150724 */

.logo {
	width: 100%;  
}

.logo hr {
	margin-bottom: 20px;
}

table.reportGrid {
	margin-top: 20px;
}

table.reportGrid tr {
	vertical-align: bottom;
}

table.reportGrid th {
	font-size: 8pt;
	padding-bottom: 10px;
    /* height: 320px; */
}

table.reportGrid .timeStamp, table.reportGrid td {
	width: auto;
}

table.reportGrid .timeStamp, table.reportGrid td {
	width: auto;
}

table.reportGrid span {
    width: 1.5em; 
    white-space: nowrap;
    color: #000;
    display: block;
    transform: rotate(270deg);
	transform-origin: left bottom 20;
}

.timeStamp { 
	white-space: nowrap; 
	word-wrap: normal; 
	word-break: keep-all; 
}

table.reportGrid tr th:nth-child(odd), table.reportGrid tr td:nth-child(odd){ 
	background: #b8d1f3;
}

table.reportGrid tr th:nth-child(even), table.reportGrid tr td:nth-child(even){
	background: #dae5f4;
}
  
@media print {
	@page {
		size: letter landscape;
		margin: 0.25in;
	}
}

