<form>
  <div class="formbox center">
    <div class="form-group input center">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        [(ngModel)]="company.name"
      />
    </div>
    <br />
    <div class="form-group input center">
      <label for="name">Address</label>
      <input
        name="phonenumber"
        type="text"
        class="form-control"
        [(ngModel)]="company.address"
      />
    </div>
    <div class="form-group">
      <label for="options">Departments:</label>
      <div *ngFor="let department of company.department">
        <label>
          <input
            type="checkbox"
            name="options"
            [(ngModel)]="company.department"
          />
          {{ department.name }}
        </label>
      </div>
    </div>
    <button>Update</button>
    <button>Delete</button>
  </div>
</form>
