<html>
  <head>
    <meta charset='utf-8' />
    <title>hello</title>
  </head>
  <body>
    <div class='card'>
      <div class='inner'>       
        <div>
           <h2 class='title'>Hi! Mr/Mrs {{studentname}} You have Joined for  {{ school.schoolname}} </h2>                      
        </div>
      </div>
    </div>
  </body>
</html>