<div>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="navbar-nav mr-auto"></div>
    <a href="#" class="navbar-brand">Welcome to EBS</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="login" class="nav-link">login</a>
      </li>

      <li class="nav-item">
        <a routerLink="listschools" class="nav-link">schools</a>
      </li>
      <li class="nav-item">
        <a routerLink="liststudents" class="nav-link">students</a>
      </li>
      <li class="nav-item">
        <a routerLink="listteachers" class="nav-link">teachers</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
