<div class="row">
  <div class="col-md-4 offset-md-3 col-md-6 col-sm-offset-2 col-sm-8">
<h4>Create Company</h4>
<form [formGroup]="createCompany" (ngSubmit)="create()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="name"
      class="form-control"
      id="name"
      formControlName="name"
      [(ngModel)]="company.name"
      [ngClass]="{ 'is-invalid': submitted && fval.name.errors }"
    />
    <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
      <div *ngIf="fval.name.errors.required">Name Field is required</div>
    </div>
  </div>
 <div class="form-group">
    <label for="address">Address</label>
    <input
      type="address"
      class="form-control"
      id="address"
      formControlName="address"
      [(ngModel)]="company.address"
      [ngClass]="{ 'is-invalid': submitted && fval.address.errors }"
    />
    <div *ngIf="submitted && fval.address.errors" class="invalid-feedback">
      <div *ngIf="fval.address.errors.required">Address Field is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
      [(ngModel)]="company.email"
      [ngClass]="{ 'is-invalid': submitted && fval.email.errors }"
    />
    <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
      <div *ngIf="fval.email.errors.required">Email Field is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="phone">Phonenumber</label>
    <input
      type="phone"
      class="form-control"
      id="phone"
      formControlName="phone"
      [(ngModel)]="company.phone"
      [ngClass]="{ 'is-invalid': submitted && fval.phone.errors }"
    />
    <div *ngIf="submitted && fval.phone.errors" class="invalid-feedback">
      <div *ngIf="fval.phone.errors.required">Phone Field is required</div>
    </div>
  </div>

  <label>Choose Department</label>
  <li *ngFor="let depertment of department">
    <input type="checkbox"  (click)="onSelectPushExtraPlayerToPlayersList(depertment)"/>
    {{ depertment.name }}
  </li>
  <button type="button" class="btn btn-outline-success" (click)="getSubmit()">
    Save
  </button>
  <button type="button" class="btn btn-outline-danger" (click)="getBack()">
    Cancel
  </button>
</form>
  </div>
</div>