<div class="row">
  <div class="col-md-4 offset-md-3 col-md-6 col-sm-offset-2 col-sm-8">
    <h4 *ngIf="isAddMode">Add Teacher</h4>
    <h4 *ngIf="!isAddMode">Edit Teacher</h4>
    <form [formGroup]="createTeacher" (ngSubmit)="updateTeacher()">
      <div class="form-group">
        <label for="teachername">TeacherName</label>
        <input
          type="teachername"
          class="form-control"
          id="teachername"
          formControlName="teachername"
          [(ngModel)]="teacher.teachername"
          [ngClass]="{ 'is-invalid': submitted && fval.teachername.errors }"
        />
        <div
          *ngIf="submitted && fval.teachername.errors"
          class="invalid-feedback"
        >
          <div *ngIf="fval.teachername.errors.required">
            Name Field is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="address"
          class="form-control"
          id="address"
          formControlName="address"
          [(ngModel)]="teacher.address"
          [ngClass]="{ 'is-invalid': submitted && fval.address.errors }"
        />
        <div *ngIf="submitted && fval.address.errors" class="invalid-feedback">
          <div *ngIf="fval.address.errors.required">
            Address Field is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="phonenumber">Contact</label>
        <input
          type="phonenumber"
          class="form-control"
          id="phonenumber"
          formControlName="phonenumber"
          [(ngModel)]="teacher.phonenumber"
          [ngClass]="{ 'is-invalid': submitted && fval.phonenumber.errors }"
        />
        <div
          *ngIf="submitted && fval.phonenumber.errors"
          class="invalid-feedback"
        >
          <div *ngIf="fval.phonenumber.errors.required">
            Contact Field is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          [(ngModel)]="teacher.email"
          [ngClass]="{ 'is-invalid': submitted && fval.email.errors }"
        />
        <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
          <div *ngIf="fval.email.errors.required">Email Field is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <input
          type="gender"
          class="form-control"
          id="gender"
          formControlName="gender"
          [(ngModel)]="teacher.gender"
          [ngClass]="{ 'is-invalid': submitted && fval.gender.errors }"
        />
        <div *ngIf="submitted && fval.gender.errors" class="invalid-feedback">
          <div *ngIf="fval.gender.errors.required">
            Gender Field is required
          </div>
        </div>
      </div>

      <div *ngIf="isAddMode" class="column">
        <label>Select School</label>
        <div *ngFor="let school of schools">
          <input
            type="checkbox"
            (click)="selectedSchoolRecord(school)"
            [ngClass]="{ 'is-invalid': submitted && fval.schools.errors }"
            id="schools"
            name="schools"
            formControlName="schools"
          />{{ school.schoolname }}
          <div
            *ngIf="submitted && fval.schools.errors"
            class="invalid-feedback"
          >
            <div *ngIf="fval.schools.errors.required">
              Schools Field is required
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!isAddMode" class="form-group">
        <label for="options">Current Schools</label>
         <div *ngFor="let school of teacher.schools">
          <label>
            <input
              type="checkbox"
              formControlName="schools"
              [(ngModel)]="school.schoolid"
              (click)="onSelectPushToSchoolsList(school)"
            />
             {{ school.schoolname }}
          </label>
        </div>
        <br />
         <div>
          <label for="options">Schools List</label>
          <div *ngFor="let school of schools">
            <label>
              <input
                type="checkbox"
                (click)="onSelectPushToCurrentSchool(school)"
              />
              {{ school.schoolname }}
            </label>
          </div>
        </div>
      </div>
      <button
        *ngIf="isAddMode"
        type="button"
        class="btn btn-outline-success"
        (click)="saveTeacher()"
      > Save
      </button>
     <button
        *ngIf="!isAddMode"
        type="button"
        class="btn btn-outline-success"
        (click)="updateTeacher()"
      >
        Update
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="getBack()">
        Cancel
      </button>
    </form>
  </div>
</div>
