<div>
  <article class="table-header">
    <button class="button-add-row" mat-button (click)="addRow()">Add Row</button>
  </article>
<table mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="col !== 'isEdit'">
          {{col}}
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="dataSchema[col]" *ngIf="!element.isEdit">
          <div class="btn-edit" *ngSwitchCase="'isEdit'" >
            <button (click)="element.isEdit = !element.isEdit">Edit</button>
            <button (click)="deleteRow(element.CustomerID)">Delete</button>
          </div>
          <span *ngSwitchDefault>
            {{element[col]}}
          </span>
        </div>
        <div *ngIf="element.isEdit">
          <div class="btn-edit" *ngIf="col === 'isEdit'; else dataField">
            <button (click)="updateRow(element) ; element.isEdit = !element.isEdit" >Done</button>
          </div>
          <ng-template #dataField>
            <mat-form-field *ngIf="col !== 'RowID'">
              <input [type]="dataSchema[col]" matInput [(ngModel)]="element[col]">
            </mat-form-field>
          </ng-template>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
