<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3"></div>
    </div>
    <div class="col-md-6">
      <h4>TEACHER LIST</h4>
      <ul class="list-group"></ul>
      <td>
        <button routerLink="/addTeacher">ADD TEACHER</button>
      </td>
    <br>
    </div>
   
  
    <div class="container">
      <table class="table table-bordered justify-content-center">
        <thead class="thead-light">
          <tr class="active">
            <th class="text-center" scope="col">NAME</th>
            <th class="text-center" scope="col">ADRESS</th>
            <th class="text-center" scope="col">EMAIL</th>
            <th class="text-center" scope="col">GENDER</th>
            <th class="text-center" scope="col">PHONE</th>

            <th class="text-center" scope="col">EDIT</th>
          </tr>
        </thead>
        <tbody *ngFor="let teacher of teachers">
          <tr class="success">
            <th class="text-center" scope="row">{{ teacher.name }}</th>
            <th class="text-center" scope="row">{{ teacher.address }}</th>
            <th class="text-center" scope="row">{{ teacher.email }}</th>
            <th class="text-center" scope="row">{{ teacher.gender}}</th>
            <th class="text-center" scope="row">{{ teacher.phone}}</th>
           
            <th class="text-center" scope="row">
              <button
                type="button"
                class="btn btn-info btn-sm mr-2"
                routerLink="/teacher/{{ teacher.id }}"
              >
                Edit
              </button>
             
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
    
   