h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
input{
width: 500px;    
}
button{
    width: 100px;
    align-items: center;
}
td{
    text-align: center;
    width: 300px;
}
.float{
    float: left;
}
.floating{
    float: right;
}
.button{
    padding-right: 200px;
    margin: 50px;
}