<div class="panel">
  <div class="panel-heading">
    <div class="panel-body table-responsive">
      <h4 class="text-center">Students List</h4>
      <button class="btn btn-info" routerLink="/student">Add Student</button>
      <br /><br />
      <div>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Gender</th>
              <th class="text-center">Address</th>
              <th class="text-center">Date Of Birth</th>
              <th class="text-center">Email</th>
              <th class="text-center">Phone No</th>
              <th class="text-center">Created Date</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let student of students; let i = index">
            <tr>
              <td class="text-center">{{ student.studentName }}</td>
              <td class="text-center">{{ student.gender }}</td>
              <td class="text-center">{{ student.address }}</td>
              <td class="text-center">{{ student.dateOfBirth }}</td>
              <td class="text-center">{{ student.email }}</td>
              <td class="text-center">{{ student.phoneNo }}</td>
              <td class="text-center">{{ student.createdDate | date:'short'}}</td>
              <td class="text-center">
                <button type="button" class="btn btn-info btn-space" routerLink="/student/{{ student.studentId }}">
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
