form {
    margin-left: auto;
    margin-right:auto;
   padding-left: 400px;
}
input[type=text] {
    color: black;
    width: initial;
    border: 10px thick;
    border-radius: inherit;
    border-color: goldenrod;
}
table{
    border-color: red;
    border-radius: initial;

    margin-left: auto;
    margin-right:auto;
   padding: 500px;
   padding-left: 500px;
}