<div class="row">
  <div class="col-md-4 offset-md-3 col-md-6 col-sm-offset-2 col-sm-8">
    <h4>Update Student</h4>
    <form [formGroup]="createStudent" (ngSubmit)="create()">
      <div class="form-group">
        <label for="studentname">StudentName</label>
        <input
          type="studentname"
          class="form-control"
          id="studentname"
          formControlName="studentname"
          [(ngModel)]="student.studentname"
          [ngClass]="{ 'is-invalid': submitted && fval.studentname.errors }"
        />
        <div
          *ngIf="submitted && fval.studentname.errors"
          class="invalid-feedback"
        >
          <div *ngIf="fval.studentname.errors.required">
            Name Field is required
          </div>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input
            type="address"
            class="form-control"
            id="address"
            formControlName="address"
            [(ngModel)]="student.address"
            [ngClass]="{ 'is-invalid': submitted && fval.address.errors }"
          />
          <div
            *ngIf="submitted && fval.address.errors"
            class="invalid-feedback"
          >
            <div *ngIf="fval.address.errors.required">
              Address Field is required
            </div>
          </div>
          <div class="form-group">
            <label for="phonenumber">Contact</label>
            <input
              type="phonenumber"
              class="form-control"
              id="phonenumber"
              formControlName="phonenumber"
              [(ngModel)]="student.phonenumber"
              [ngClass]="{ 'is-invalid': submitted && fval.phonenumber.errors }"
            />
            <div
              *ngIf="submitted && fval.phonenumber.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fval.phonenumber.errors.required">
                Contact Field is required
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                [(ngModel)]="student.email"
                [ngClass]="{ 'is-invalid': submitted && fval.email.errors }"
              />
              <div
                *ngIf="submitted && fval.email.errors"
                class="invalid-feedback"
              >
                <div *ngIf="fval.email.errors.required">
                  Email Field is required
                </div>
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <div class="radio">
                  <label>
                    <input
                      type="radio"
                      name="gender"
                      id="gender"
                      formControlName="gender"
                      value="Male"
                      (click)="setradio('Male')"
                      [checked]="true"
                      [(ngModel)]="student.gender"
                      [ngClass]="{
                        'is-invalid': submitted && fval.gender.errors
                      }"
                    />
                    Male
                  </label>

                  <div class="radio">
                    <label>
                      <input
                        type="radio"
                        name="gender"
                        id="gender"
                        formControlName="gender"
                        value="Female"
                        (click)="setradio('Female')"
                        [(ngModel)]="student.gender"
                        [ngClass]="{
                          'is-invalid': submitted && fval.gender.errors
                        }"
                      />
                      Female
                    </label>
                  </div>

                  <div
                    *ngIf="submitted && fval.gender.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="fval.gender.errors.required">
                      gender Field is required
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="dob">Date of birth</label>
                  <input
                    type="date"
                    class="form-control"
                    id="dateofbirth"
                    formControlName="dateofbirth"
                    [(ngModel)]="student.dateofbirth"
                    [ngClass]="{
                      'is-invalid': submitted && fval.dateofbirth.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && fval.dateofbirth.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="fval.dateofbirth.errors.required">
                      dob Field is required
                    </div>
                  </div>
                  <div class="form-group">
                    <p>
                      <select
                        class="form-control"
                        placeholder="Choose school"
                        name="schools"
                        [(ngModel)]="student.schools"
                        (ngModelChange)="selectedSchool(currentSchool)"
                      >
                        <option value="Choose school">Choose school</option>
                        <option *ngFor="let school of schools">
                          {{ school.schoolname }}
                        </option>
                      </select>
                    </p>
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-success"
                    (click)="create()"
                  >
                    Update
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-danger"
                    (click)="getBack()"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
