<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">bezKoder</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a routerLink="student" class="nav-link">student</a>
      </li>
      <li class="nav-item">
        <a routerLink="course" class="nav-link">cource</a>
      </li>
      <li class="nav-item">
        <a routerLink="student-list" class="nav-link">student-list</a>
      </li>
      <li class="nav-item">
        <a routerLink="cource-list" class="nav-link">cource-list</a>
      </li>
      <li class="nav-item">
        <a routerLink="demo-list" class="nav-link">demo-list</a>
      </li>
      <li class="nav-item">
        <a routerLink="test" class="nav-link">test</a>
      </li>
      <li class="nav-item">
        <a routerLink="product" class="nav-link">product</a>
      </li>
      <li class="nav-item">
        <a routerLink="user" class="nav-link">user</a>
      </li>
      <li class="nav-item">
        <a routerLink="userListing" class="nav-link">userListing</a>
      </li>
      <li class="nav-item">
        <a routerLink="Newtutorial" class="nav-link">Newtutorial</a>
      </li>
      <li class="nav-item">
        <a routerLink="Employeelist" class="nav-link">Employeelist</a>
      </li>
      <li class="nav-item">
        <a routerLink="Studentform" class="nav-link">Studentform</a>
      </li>
   
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>