<div>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a href="#" class="navbar-brand">Report</a>
    <div class="navbar-nav mr-auto"></div>
    <a href="#" class="navbar-brand">Welcome to Electem Bussiness Solution</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="registeruser" class="nav-link">User Register</a>
      </li>
      <li class="nav-item">
        <a routerLink="createcustomer" class="nav-link">Customer Register</a>
      </li>
      <li class="nav-item">
        <a routerLink="customerlist" class="nav-link">Customer list</a>
      </li>
      <li class="nav-item">
        <a routerLink="customergroup" class="nav-link">Customer Group</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
