<div>
  <!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="navbar-nav mr-auto"></div>
    <a href="#" class="navbar-brand">Welcome to EBS</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="customerlist" class="nav-link">Customer</a>
      </li>
      <li class="nav-item">
        <a routerLink="customergroup" class="nav-link">Customer Group</a>
      </li>
      <li class="nav-item">
        <a routerLink="game" class="nav-link">Game</a>
      </li>
    </div>
  </nav> -->
  <div class="menu-section">

    <div (click)="toggle()" [ngClass]="!show ? 'open' : 'menu-btn'" class="menu-btn">
      <div class="menu-btn__burger"></div>
    </div>

    <nav>
      <ul role="navigation" class="hidden" [@openClose]="!show ? false : true" [ngClass]="!show ? 'openli' :'closeli'">
        <li><a routerLink="customerlist" class="nav-link">Customer</a></li>
        <li><a routerLink="customergroup" class="nav-link">Customer Group</a></li>
      </ul>
    </nav>
  </div>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>