<div class="list row">
  <h2 class="py-4">Department Lists</h2>
  <div class="col-md-8">
    <div class="input-group mb-3"></div>
  </div>

  <div class="col-md-6">
    <ul class="list-group"></ul>
    <td>
      <button routerLink="/createdepartment">ADD DEPARTMENT</button>
    </td>
  </div>
  <div class="container">
    <br />
    <table
      class="table table-striped table-hover table-bordered border-secondary"
    >
      <thead>
        <tr class="active">
          <th class="text-center" scope="col">Name</th>
          <th class="text-center" scope="col">Type</th>
          <th class="text-center" scope="col">Company Length</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let department of departments; let i = index">
        <tr>
          <th class="text-center" scope="row">{{ department.name }}</th>
          <th class="text-center" scope="row">{{ department.type }}</th>
          <th class="text-center" scope="row">
            {{ department.company.length }}
          </th>
          <th class="text-center">
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm"
              routerLink="/editdepartment/{{ department.id }}"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm marignleft"
              (click)="deletebyid(department.id)"
            >
              Delete
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
